<% include ./partials/header.ejs %>

  <div class="starter-template">
    <h1>SISTEMA CRUD com ORM</h1>
    <p class="lead">Sistema CRUD completo utilizando ORM<br> Create (Criação), Read (Consulta), Update (Atualização) e Delete (Destruição)</p>
  </div>

<% include ./partials/footer.ejs %>